@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  font-family:var(--font-poppins), Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .gradient-text {
    background: linear-gradient(90deg, #FF5733, #C70039);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
  }

  .wrapper {
    @apply max-w-7xl lg:mx-auto p-2 md:px-10 xl:px-3 w-full;
  }

  .h1-bold {
    @apply font-bold text-[40px] leading-[48px] lg:text-[48px] lg:leading-[60px]  xl:text-[58px] xl:leading-[74px];
  }

  .h2-bold {
    @apply font-bold text-[32px] leading-[40px] lg:text-[36px] lg:leading-[44px] xl:text-[40px] xl:leading-[48px];
  }

}

@layer base {
  :root {
    --radius:0.5rem;
  }
}